body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: azure;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: white;
   
}

h1 {
    text-align: center;
    color: darkblue;
}



button {
    padding: 10px 20px;
    background-color: rgb(78, 128, 236);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#countryInfo {
    margin-top: 20px;
}

 #resultContainer {
  
     margin-top: 20px;
 }

 #klaidosInfo {
     color: red;
     background-color: pink;
 }